/* main container */

.main.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* blog post container */

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title.blog {
  margin-top: 100px;
  font-size: 40px;
}

.blog-picture {
  height: 200px;
  width: 200px;
}

/* media queries */

@media only screen and (min-width: 600px) {
  .main-title.blog {
    font-size: 60px;
  }
  .blog-title {
    font-size: 25px;
  }
  .blog-subtitle {
    font-size: 20px;
  }
  .blog-picture {
    height: 400px;
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-title.blog {
    font-size: 80px;
  }
  .blog-title {
    font-size: 35px;
  }
  .blog-subtitle {
    font-size: 30px;
  }
  .blog-picture {
    height: 600px;
    width: 600px;
  }
}
