.main-container.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  background-image: url(../images/beach-background2.jpg);
  background-position: center;
  background-size: cover;
}

.main-title-mobile.home {
  margin-top: 220px;
  margin-left: 20px;
}

.main-title-desktop.home {
  margin-top: 310px;
  margin-left: 20px;
}

.main-subtitle.home {
  margin: 0px;
  padding-bottom: 150px;
  margin-left: 20px;
}

.profile-picture {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-me-title {
  font-size: 25px;
}

.about-me-text {
  font-size: 15px;
  margin: 20px 60px;
  line-height: 27px;
  text-align: justify;
  text-justify: inter-word;
}

.resume-link {
  font-size: 20px;
}

footer {
  margin: 30px 0px;
  font-size: 12px;
}

@media only screen and (min-width: 375px) {
  .main-title-mobile.home {
    margin-top: 260px;
  }
}

@media only screen and (min-width: 600px) {
  .main-title-mobile.home {
    display: none;
  }
  .main-title-desktop.home {
    display: block;
  }
  .main-subtitle.home {
    font-size: 30px;
  }
  .about-me-title {
    font-size: 30px;
  }
  .about-me-text {
    font-size: 20px;
    margin: 20px 80px;
  }
  .profile-picture {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-title-desktop.home {
    font-size: 80px;
    margin-top: 350px;
  }
  .main-subtitle.home {
    font-size: 40px;
  }
  .about-me-text {
    margin: 20px 150px;
  }
  .profile-picture {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (min-width: 1800px) {
  .main-title-desktop.home {
    font-size: 120px;
    margin-top: 400px;
  }
  .main-subtitle.home {
    font-size: 60px;
  }
}
