.nav-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 5vh;
}

nav {
  position: fixed;
  z-index: 2;
}

li {
  height: 100%;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}

#home-button {
  position: absolute;
  right: 30px;
}

.hamburger {
  display: none;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.hamburger-links {
  position: fixed;
  display: none;
}

.hamburger-links a {
  color: black;
  font-family: "Montserrat", sans-serif;
}

.hamburger-link-items {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .nav-items {
    display: none;
  }
  nav {
    position: initial;
  }
  .hamburger {
    display: block;
    margin-left: 0px;
    z-index: 3;
  }
  .hamburger-links {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    top: 10vh;
    z-index: 4;
    width: 100vw;
  }
}
